---
title: Default title 
---
<!DOCTYPE html>
<html lang="es">
	<head>
<meta charset="utf-8">	
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ data.description }}">
<meta name="author" content="{{ data.authorName }}">
<meta name="keywords" content="{{ data.keywords }}">
<link rel="icon" href="{{ data.favicon }}" />
<link rel="stylesheet" href="{{ data.style }}">
<link rel="stylesheet" href="{{ data.stylePrint }}" media="print">
  </head>

	<body>
    
    <!-- Top Menu -->
    <nav class="be-nav-menu">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="be-burger"></label>
   <div class="be-nav">
        <ul class="be-nav-items">
            <li><a href="/" class="be-not-color"><img src="images.png" alt="image"></a>
            </li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
   </div>
    </nav>

    {{ content }}

  </body>
</html>
