---
title: Default title 
---
<!DOCTYPE html>
<html lang="es">
	<head>
<meta charset="utf-8">	
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ data.description }}">
<meta name="author" content="{{ data.authorName }}">
<meta name="keywords" content="{{ data.keywords }}">
<link rel="icon" href="{{ data.favicon }}" />
<link rel="stylesheet" href="{{ data.style }}">
<link rel="stylesheet" href="{{ data.stylePrint }}" media="print">
  </head>

	<body>
    <!-- Responsive menu -->
  <nav class="nav" id="nav">
    <a href="#home"><img src="/images/logo.png" alt="your logo description"></a>
    <a href="#menu-item-1">Menu Item 1</a>
    <a href="#menu-item-2">Menu Item 2</a>
    <a href="#menu-item-3">Menu Item 3</a>
    <a href="javascript:void(0);" id="menu-toggle" onclick="togglemenu()">
      <div class="bar-1"></div>
      <div class="bar-2"></div>
      <div class="bar-3"></div>
    </a>
  </nav>

  <!-- Main content come here from others pages -->
    <div class="be-content">
    {{ content }}
    </div>
   
   <!-- Footer content below -->
 <footer class="be-footer">
   <div class="be-container">

     <div class="be-column be-col-4">
   <h3>Firs be-column Text</h3>
   <p>Some text option here abour the project...</p>
     </div>
     
     <div class="be-column be-col-3">
   <h3>Second be-column Text</h3>
   <p>You can change this text with some information related to the project...</p>
     </div>
     
     <div class="be-column be-col-3">
   <h3>Third be-column Text</h3>
   <a href="#">Who we are</a><br> 
   <a href="#">Our services</a><br> 
   <a href="#">Contact us</a><br> 
     </div>

   </div>
 </footer> 
 
 <!-- Call the js file -->
 <script type="text/javascript" src="{{ data.mainjs }}"></script> 
  </body>
</html>
